body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: skyblue;
}

.hidden {
    visibility: hidden;
}


.canvas {
    justify-content: start;
    padding: 1%;
    margin-top: 1%;
    border-radius: 25px;
    background-color: antiquewhite;
    width: 110em;
    display: flex;
    flex-direction: column;
}

.canv1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding-top: 0;
}

.canv4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.canv6 img {
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.canv8{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#img-container {
    display: inline-block;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 10px;
    background-color: white;
    padding: 0.5%;
    width: auto;
}


.square-container {
    top: 100px;
    margin-left: 20px;
    width: 550px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.square {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    background-color: black;
}

.cursor-tracker {
    position: absolute;
    right: 5%;
    margin-top: -20px;
}

.rect {
    flex-direction: column;
    display: flex;
    text-align: start;
    width: 300px;
    height: 200px;
    background-color: salmon;
}

.rect p {
    font-size: larger;
    font-weight: bolder;
}

#yellow-square {
    background-color: yellow;
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

#red-square {
    background-color: red;
    cursor: pointer;
    width: 50px;
    height: 50px;
    visibility: hidden;
}

#green-rect {
    background-color: green;
    width: 50px;
    height: 20px;
    margin-top: 10px;
    visibility: hidden;
}

.editable-block {
    resize: none;
    font-weight: bolder;
    font-size: larger;
    width: 100%;
    border-radius: 5px;
    border: 2px solid aqua;
    padding: 2px;
    background-color: ghostwhite;
}

.editable-block:active{
    border: 2px solid aqua;
}


.btn {
    cursor: pointer;
    background-color: greenyellow;
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

#js-btn {
    background-color: salmon;
}

#switch-btn {
    background-color: deeppink;
}

#css-js-btn {
    background-color: aquamarine;
}

#css-btn:focus+.square-container {
    display: none;
}

#show-square {
    margin-top: 0px;
    background-color: crimson;
}

#show-square:hover+#red-square {
    visibility: visible;
}

#rect-hider:focus+#green-rect {
    visibility: visible;
}

#rect-hider:not(:focus)+#green-rect {
    display: none;
}