body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

h2 {
    color: skyblue;
}

.hidden {
    visibility: hidden;
}


.canvas {
    justify-content: start;
    padding: 1%;
    margin-top: 1%;
    border-radius: 25px;
    background-color: antiquewhite;
    width: 110em;
    display: flex;
    flex-direction: column;
    border: 2px solid gainsboro;
}

.canv1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding-top: 0;
}

.canv4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.canv6 img {
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.canv8 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.canv9{
    display: flex;
}


#img-container {
    display: inline-block;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 10px;
    background-color: white;
    padding: 0.5%;
    width: auto;
}


.square-container {
    top: 100px;
    margin-left: 20px;
    width: 550px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.square {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    background-color: black;
}

.cursor-tracker {
    position: absolute;
    right: 5%;
    margin-top: -20px;
}

.rect {
    flex-direction: column;
    display: flex;
    text-align: start;
    width: 300px;
    height: 200px;
    background-color: salmon;
}

.rect p {
    font-size: larger;
    font-weight: bolder;
}


#out-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 150px;
    cursor: pointer;
}

#inner-block{
    position: relative;
    background-color: crimson;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 90px;
}

#yellow-square {
    background-color: yellow;
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

#red-square {
    background-color: red;
    cursor: pointer;
    width: 50px;
    height: 50px;
    visibility: hidden;
}

#green-rect {
    background-color: green;
    width: 50px;
    height: 20px;
    margin-top: 10px;
    visibility: hidden;
}

.editable-block {
    resize: none;
    font-weight: bolder;
    font-size: larger;
    width: 100%;
    border-radius: 5px;
    border: 2px solid aqua;
    padding: 2px;
    background-color: ghostwhite;
}

.editable-block:active {
    border: 2px solid aqua;
}


.btn {
    font-weight: bolder;
    cursor: pointer;
    background-color: greenyellow;
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 25px;
    transition: all 250ms;
}

.btn:hover {
    background-color: cornflowerblue;
    transition: all 250ms;
}

#js-btn {
    color: white;
    background-color: salmon;
    transition: all 250ms;
}

#js-btn:hover {
    transition: all 250ms;
    background-color: white;
    color: salmon;
}

#switch-btn {
    color: white;
    background-color: deeppink;
    transition: all 250ms;
}

#switch-btn:hover {
    transition: all 250ms;
    color: deeppink;
    background-color: white;
}

#css-js-btn {
    color: white;
    background-color: aquamarine;
    transition: all 250ms;
}

#css-js-btn:hover {
    color: aquamarine;
    background-color: white;
    transition: all 250ms;
}

#css-btn:focus+.square-container {
    display: none;
}

.up-cont {
    position: fixed;
    bottom: 50px;
    right: 80px;
    display: flex;
    justify-content: end;
    z-index: 200;
}



#up-btn {
    width: 50px;
    background-color: aqua;
    bottom: 1px;
    visibility: hidden;
}

#up-btn:hover {
    background-color: aquamarine;
    border: none;
}

#show-square {
    margin-top: 0px;
    background-color: crimson;
}

#show-square:hover+#red-square {
    visibility: visible;
}

#rect-hider:focus+#green-rect {
    visibility: visible;
}

#rect-hider:not(:focus)+#green-rect {
    display: none;
}