body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: skyblue;
}

.hidden{
    visibility: hidden;
}

.canvas{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin-top: 1%;
    border-radius: 25px;
    background-color: antiquewhite;
    width: 90vw;
    height: 95vh;
}

.canv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#first-square{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
}

#css-btn, #js-btn, #css-js-btn{
    position: relative;
    top: 100px;
    cursor: pointer;
    background-color: greenyellow;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

#js-btn{
    background-color: salmon;
}

#css-js-btn{
    background-color: aquamarine;
}



